<!DOCTYPE html>
<html>
	<head>
		<title>Sistema Inform&aacute;tico de Gesti&oacute;n Laboratorial</title>
		
		<link rel="stylesheet" type="text/css" href="css/siglab.css"/>
		
	</head>

	<body>		
		<div class="seccion" id="cabecera">
			<div class="int_cabecera" id="banner">Banner y Logo</div>
			<div class="int_cabecera" id="login">Login</div>
		</div>
		<div class="seccion" id="menu">Men&uacute; de M&oacute;dulos - Submen&uacute;s</div>		
		<div class="seccion" id="cuerpo">
			<div class="cuerpo" id="contenido">
			  <p>&nbsp;</p>
			  <p>Contenido</p>
        </div>
			<div class="cuerpo" id="extras">
			  <p>&nbsp;</p>
			  <p>Extras y/o webservices</p>
			</div>		
		</div>
		<div class="seccion" id="pie">Pie de P&aacute;gina</div>
	</body>
</html>